@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--light);
  width: 1000px;
  margin: 0 auto;
}

.contact-us {
  margin: 100px auto 0 auto;
  text-align: center;
  flex-direction: column;
  font-family: 'Barlow', sans-serif;
}

.contact-left-container {
  display: flex;
  width: 60%;
}

.map {
  width: 100%;
  padding: 40px;
}

.contact-right-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 40px;
}

.contact h1 {
  color: var(--primary);
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.input {
  color: var(--primary);
  width: 100%;
  outline: none;
  border-radius: 3px;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 8px 12px #24242437;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

label {
  font-size: 1.2rem;
}

.message-box {
  width: 100%;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.submit {
  cursor: pointer;
  background-color: var(--secondary);
  border: none;
  color: var(--primary);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 3px;
  width: 100%;
  font-family: 'Barlow', sans-serif;
  justify-content: center;
  text-align: center;
}

.submit:hover {
  background-color: var(--tertiary);
  transition: background-color 0.3s ease, transform 0.3s ease;
  transform: scale(1.05);
}