@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

.link-tab-overview {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.link-tab {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    color: var(--primary);
    text-decoration: none;
    border-bottom: var(--secondary) 3px solid;
}

.link-tab:hover {
    border-bottom: var(--tertiary) 5px solid;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.link-tab-selected {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    font-size: 25px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
    color: var(--primary);
    text-decoration: none;
    border-bottom: var(--tertiary) 5px solid;
}

.link-tab-selected:hover {
    border-bottom: var(--tertiary) 5px solid;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}

.container-orders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: start;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    border: 0;
}

.order {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    background-color: #f5f5f5;
    margin: 10px 10px 10px 10px;
    padding: 0 0px;
    font-family: 'Barlow', sans-serif;
}

.order-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color: var(--primary);
    background-color: #bababa;
    padding: 15px;
}

.order-header h5 {
    font-size: 18px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
}

.order-date {
    align-items: center;
    text-align: center;
}

.order-header-one {
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family: 'Barlow', sans-serif;
    color: var(--primary);
    justify-content: space-between;
}

.order-status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #6291d7;
    font-weight: 500;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 0;
    cursor: pointer;
    color: var(--primary);
    font-family: 'Barlow', sans-serif;
}

.order-status:hover {
    text-decoration: none;
    cursor: pointer;
}

.products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-wrap: normal;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
    margin: 0;
    padding: 30px 0 30px 0;
    border: none;
    font-family: 'Barlow', sans-serif;
}

.products-items {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Barlow', sans-serif;
}

#Prepping {
    background-color: #d7cf62;
}

#Serving {
    background-color: #d76262;
}

#Pending {
    background-color: #6291d7;
}

#Delivered {
    background-color: #62d785;
}

@media screen and (max-width: 1024px) {
    .link-tab-overview {
        margin-bottom: 0px;
    }

    .link-tab {
        font-size: 23px;
        font-weight: 500;
    }

    .link-tab-selected {
        font-size: 23px;
        font-weight: 500;
    }

    .container-orders {
        margin: 10px 0 380px 0;
    }

    .order {
        width: 40vw;    
    }

    .order-header h5 {
        font-size: 17px;
        font-weight: 500;
        font-family: 'Barlow', sans-serif;
    }

    .products-items {
        font-size: 19px;
    }

    .order-status {
        font-size: 19px;
    }
}

@media screen and (max-width: 480px) {
    .link-tab-overview {
        margin-bottom: 0px;
    }

    .link-tab {
        font-size: 16px;
        font-weight: 500;
    }

    .link-tab-selected {
        font-size: 16px;
        font-weight: 500;
    }

    .container-orders {
        margin: 10px 0 380px 0;
    }

    .order {
        width: 80vw;    
    }

    .order-header h5 {
        font-size: 17px;
        font-weight: 500;
        font-family: 'Barlow', sans-serif;
    }

    .products-items {
        font-size: 18px;
    }

    .order-status {
        font-size: 17px;
    }
}