.category-btn {
    cursor: pointer;
    background-color: darkorange;
    border: none;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: auto;
    margin-right: 5px; 
    margin-bottom: 5px; 
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

.category-btn:hover {
    background-color: orange;
    transform: scale(1.05);
  }