.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #f5f5f5;
  }
  
  .cart-item img {
    width: 70px;
    margin-right: 1rem;
  }
  
  .cart-item div {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item input {
    width: 50px;
    padding: 0;
    margin: 0.5rem 1rem 1rem 0;
  }
  
  .cart-item .remove {
    cursor: pointer;
    color: #777;
    transition: color 0.3s ease;
  }
  
  .cart-item .remove:hover {
    color: #ff0000;
  }
  